* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$primary: #020617;
$secondary: #84cc16;

body {
    margin: 0.5rem;
    background-color: $primary;
    color: #fff;
    padding: 0 0.5rem;
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        ul {
            display: flex;
            gap: 2rem;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: #fff;
                    padding: 0.5rem 1rem;
                }
            }
        }
    }

    h1, h4 {
        color: $secondary;
    }

    .select-container {
        margin: 1rem 0;

        label {
            display: block;
            margin: 0.2rem 0;
            color: $secondary;
        }
        .top-label {
            margin-bottom: 0.5rem;
            color: #fff;
        }
    }

    #workout-display {
        margin: 2rem 0;
    }
}

button {
    cursor: pointer;
}

.active {
    background-color: #84cc16;
}

